@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap');

html,body{
    font-family: 'Roboto', sans-serif;
}
.ml-auto{
    margin-left: auto;
}

.bg-gray{
    background-color: #F8F7F5;
}

#recipe-result{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(13rem, 14rem) );
    gap: 15px;
    justify-content: center;
}

.card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card img{
    display: block;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;
    backface-visibility: hidden;
    
}

.rounded-10{
    border-radius: 10px;
}

.overlay{
    transition: all 0.8s;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.card:hover .overlay{
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backdrop-filter: blur(1px);
    pointer-events: all;
    cursor: pointer;
}

#ingredients ul{
    /* list-style-image: url('../icons/check.svg');
    list-style-position: inside; */
    list-style: none;
}

#ingredients ul li{
    position: relative;
    margin-bottom: 5px;
}
#ingredients ul li::before{
    content: url('../icons/check.svg');
    position: absolute;
    left: -22px;
    top: 2px;
}